<style media="screen">
  @media only screen and (max-width: 550px) {
    #desktop-title {
      display: none;
    }
  }

  @media only screen and (min-width: 551px) {
    #mobile-n-tablet-title {
      display: none;
    }
  }
</style>

<div class="bg-white text-gray-800">
  <br>
  <div class="mx-4">
    <!-- this title is for the desktop view in which the entire title is visable -->
    <h1 class="arial-rounded-mt-bold flex justify-center text-3xl" id="desktop-title">About Urban Cruise Ship</h1>

    <!-- As screens get smaller, we want the "About" to be above the "Urban Cruise Ship" -->
    <h1 class="arial-rounded-mt-bold flex justify-center text-3xl" id="mobile-n-tablet-title">About</h1>
    <h1 class="arial-rounded-mt-bold flex justify-center text-3xl" id="mobile-n-tablet-title">Urban Cruise Ship</h1>
    <h4 class="flex justify-center prompt-font">Founded in 2014, Urban Cruise Ship presents environmental solutions.</h4>
  </div>
  <br><br>
  <%- include
    ("./partials/ucs-first-button.ejs",
      {
        title:"Why the name 'Urban Cruise Ship'?",
        description: "one basic thing"
      }
    )
  %>
  <br>
  <%- include
    ("./partials/ucs-first-button.ejs",
      {
        title:"Another Title?",
        description: "<p>another thing</p><p> another paragraph</p>"
      }
    )
  %>
  <br>
  <%- include
    ("./partials/ucs-first-button.ejs",
      {
        title:"Another Title?",
        description: "<p>another thing</p><p> another paragraph</p>"
      }
    )
  %>
  <br>
  <%- include
    ("./partials/ucs-first-button.ejs",
      {
        title:"Another Title?",
        description: "<p>another thing</p><p> another paragraph</p>"
      }
    )
  %>
  <br>
  <%- include
    ("./partials/ucs-first-button.ejs",
      {
        title:"What became Urban Cruise Ship's priorities?",
        description: "<p>another thing</p><p> another paragraph</p>"
      }
    )
  %>
